page-question-list {
    .input-wrapper {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .answer {
        margin-top: 10px;
    }
    .question {
        color: color($colors, secondary);
    }
    .list-ios .item-block .item-inner {
        border-bottom: 0.55px dotted #ececef;
    }
    .label-ios {
        white-space: normal;
    }
}