<!--
  Generated template for the ShortcutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>快捷操作</ion-title>
        <ion-buttons end>
            <button ion-button tappable (click)="doSetShortcut()">
                {{shortcutBtn}}
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>

    <div class="tool-box-label">快捷操作</div>
    <ul class="tool-box white-bg">
        <li *ngFor="let fun of shortcutFuns">
            <a href="javascript:;" class="tool-icon {{fun.cls}}" (click)="delShortcut(fun)">
                <img src="{{fun.logo}}">
                <label>{{fun.name}}</label>
            </a>
        </li>
    </ul>

    <div class="tool-box-label">全部应用</div>
    <ul class="tool-box white-bg">
        <li *ngFor="let fun of allFuns">
            <a href="javascript:;" class="tool-icon {{fun.cls}}" (click)="addShortcut(fun)">
                <img src="{{fun.logo}}">
                <label>{{fun.name}}</label>
            </a>
        </li>
    </ul>

</ion-content>